.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom:  $m-size;
    }
}

.form__error {
    margin: 0 0 $m-size 0;
    font-size: initial;
}
.outer-form-box {
    background: $lavendar;
    padding: 10rem 15rem;
    width: max;
    @media(max-width: 1024px){
        padding: 5rem 8rem;
    }
}

.form-layout {
    background: $lavendar;
    justify-content: center;
    padding: 1rem 0;
    @media(max-width: 1024px){
        background: white;
    }
}

.contact-form-box {
    background: $paper;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom:  $m-size;
    }
    input:hover {
        cursor: pointer;
    }
    .portfolio__box-link:hover {
        text-decoration: none;
        background: fade-out($dusty, 0.15);
        cursor: pointer;
        color: $dark-grey;
      }
}
.contact-line {
    width: 25%;
    height: .5rem;
    margin: auto;
    background-color: $dusty;
}
.contact-form-box__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: $s-size;
    background-color: $paper;
    padding: 2rem;
    text-align: center;
    > h1 {
        margin: 0 3rem;
        font-weight: lighter;
        color: $dark-grey;
    line-height: 1;
    font-family: $r-family;
    @media(max-width: 1024px){
        
    }
    }
}

.contact-form-box__item {
    > h2 {
        font-weight: lighter;
    font-family: $l-family;
    color: $dark-grey;
    }
    font-size: $s-size;
    margin-bottom: $m-size;
    > input {
        width: 30rem;
        height: 3rem;
        text-align: center;
        border: none;
        margin-bottom: $m-size;
    }
}