 @import url('http://fonts.googleapis.com/css?family=Lusitana|Raleway');
 @import url('http://fonts.googleapis.com/css?family=Inconsolata|Merriweather');

 //Colors
$dark-grey: #333333;
$blue: #1c88bf;
$dark-blue: #364051;
$light-grey: #f7f7f7;
//new theme
$grey: #666;
$dusty: #96858F;
$lavendar: #6D7993;
$overcast: #9099A2;
$paper: #D5D5D5;

//font Sizes
$font-size-large: 1.8rem;
$font-size-Xlarge: 5rem;
$font-size-small: 1.4rem;

//font-families
$r-family: 'Raleway', sans-serif;
$l-family: 'Lusitana', serif;
$i-family: 'Inconsolata', monospace;
$m-family: 'Merriweather', serif;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;